.form
{
  width: 100%;
  height: 262px;
  background-color: #f2f2f2;
  margin-top: 47px;
}

.form_view
{
  width: 320px;
  height: 177px;
  background-color: #fff;
  position: relative;
  top: 44px;
  margin-left: 300px;
  }

  .form_view form
  {
    display: flex;
    flex-direction: column;
  }

  .form_view input
  {
    width: 250px;
    margin: 0 auto;
    padding-top: 18px;
    padding-left: 40px;
  }


  .bottom_button .big-blue-link
  {
    width: 577px;
    height: 71px;
    border: solid 3px #404040;
    font-family: "Helvetica", sans-serif;
    font-size: 28px;
    line-height: 38px;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    color: #5e5e5e;
    position: relative;
    top: 52px;
  left: 300px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {


    .form_view
    {
      width: 320px;
      height: 177px;
      background-color: #fff;
      position: relative;
      top: 44px;
      margin: 0 auto;
      }


    .bottom_button .big-blue-link
    {
      width: 577px;
      height: 71px;
      border: solid 3px #404040;
      font-family: "Helvetica", sans-serif;
      font-size: 28px;
      line-height: 38px;
      text-decoration: none;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 40px;
      padding-right: 40px;
      color: #5e5e5e;
      position: relative;
      top: 52px;
      left: 160px;
      margin: 0 auto;
    }



  }

  @media screen and (min-width: 320px) and (max-width: 767px) {


    .form_view
    {
      width: 280px;
      height: 177px;
      background-color: #fff;
      position: relative;
      top: 44px;
      margin-left: 0px;
      }


    .bottom_button .big-blue-link {
    width: 280px;
    height: 71px;
    border: solid 3px #404040;
    font-family: "Helvetica", sans-serif;
    font-size: 14px;
    line-height: 28px;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    color: #5e5e5e;
    position: relative;
    top: 52px;
    left: 30px;
}


  }
