.header_top
{
  width: 100%;
  height: 162px;
  background-image: url('../img/header_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.header_top__title
{
  font-family: "Helvetica", sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: #0c1729;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 9px;
}

.header_top__title span
{
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  display: block;
  font-size: 24px;
  line-height: 32px;
  color: #0c1729
}

.header_top__button
{
  width: 258px;
  padding-top: 12px;
  padding-bottom: 12px;
  object-fit: contain;
  border-radius: 5px;
  background-color: #02a6f2;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  text-align: center;
  color: #fff;
  border: none;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  cursor: pointer;
  text-decoration: none;
}

.header_top__button a
{
  text-decoration: none;
}

.header_top__button:hover
{
   background-color: #057fb8;
}

.header_top__button:active
{
    background-color: #045a7a;
}

.header_bottom
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header_logo
{
  padding-top: 30px;
}


.menu_mobile
{
  display: none;
}


.menu__list
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding-top: 50px;
}

.menu__item a
{
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  color: #000;
  text-decoration: underline;
  padding-right: 32px;
}


.menu__item a:hover
{
  color: #057fb8;
}


.menu__item a:active
{
  color: #045a7a;
}


@media screen and (min-width: 768px) and (max-width: 1279px) {

  .header_top__title
  {
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5), -2px -2px 5px rgba(255, 255, 255, 0.5), 0px 0px 6px rgba(255, 255, 255, 0.5);
  }


  .header_top__title span
  {
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5), -2px -2px 5px rgba(255, 255, 255, 0.5), 0px 0px 6px rgba(255, 255, 255, 0.5);
  }


  .header_bottom
  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .left_menu
  {
   display: flex;
   justify-content: ro;
   flex-direction: row;
   justify-content: space-between;
   margin-left: -25px;
  }

  .menu__item a
  {
    font-family: "Helvetica", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    text-decoration: underline;
    padding-right: 20px;
  }

  .menu_mobile
  {
    display: none;
  }

}

@media screen and (min-width: 320px) and (max-width: 767px) {

  .header_top__title
  {
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5), -2px -2px 5px rgba(255, 255, 255, 0.5), 0px 0px 6px rgba(255, 255, 255, 0.5);
  }


  .header_top__title span
  {
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5), -2px -2px 5px rgba(255, 255, 255, 0.5), 0px 0px 6px rgba(255, 255, 255, 0.5);
  }

  .header_bottom
  {
    display: none;
  }

  .menu_mobile
  {
    display: block;
  }


}
