.content_photo
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 618px;
  background-color: #f2f2f2;
  margin-top: 60px;
  &--chart
  {
    height: 141px;
  }
}

.content_photo__text
{
  width: 100%;
}

.content_photo__text .content
{
  width: 199px;
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #5e5e5e;
  padding-left: 56px;
  padding-top: 50px;
}

.content span
{
  display: block;
}
